.engine_admin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 2em;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 66%, rgba(64,64,64,.5) 98%);
  z-index: 10;
}
.engine_admin_scenetree {
  position: fixed;
  top: 4em;
  left: 1em;
  width: 18em;
}
.engine_admin_scenetree ul {
  list-style: none;
  padding-left: .5em;
  margin: 0;
}
.engine_admin_scenetree ul li {
  cursor: pointer;
}
.engine_admin_scenetree>.engine_admin_scenetree_list {
  overflow: auto;
  height: 20em;
}
/*
.engine_admin_scenetree ul li:before {
  content: '├';
  display: inline-block;
  float: left;
  clear: left;
  padding-right: .5em;
  color: white;
}
.engine_admin_scenetree ul li.state_disabled:before,
.engine_admin_scenetree ul li.state_disabled,
.engine_admin_scenetree ul li.state_hover li.state_disabled,
.engine_admin_scenetree ul li.state_selected li.state_disabled {
  color: #666;
}
.engine_admin_scenetree ul li.state_hover,
.engine_admin_scenetree ul li.state_selected li.state_hover {
  color: yellow;
  background: rgba(1,1,0,.5);
}
.engine_admin_scenetree ul li.state_selected,
.engine_admin_scenetree ul li.state_hover li.state_selected {
  color: red;
}
.engine_admin_scenetree ul li.state_hover li,
.engine_admin_scenetree ul li.state_selected li {
  color: white;
  background: transparent;
}
.engine_admin_scenetree ul li:last-child:before {
  content: '└';
}
.engine_admin_scenetree>ul>li:first-child:before {
  content: '';
}
*/
.engine_admin_scenetree h2 {
  font-size: 1em;
  margin: 0;
}

.engine_admin_inspector {
  position: fixed;
  top: 28em;
  left: 1em;
  width: 18em;
  color: white;
  min-height: 5em;
}
.engine_admin_inspector ul {
  list-style: none;
  padding-left: .5em;
  margin: .5 0;
}
.engine_admin_inspector .engine_admin_inspector_contents {
  overflow: auto;
  max-height: 15em;
}
.engine_admin_inspector ul li {
  white-space: nowrap;
}
.engine_admin_inspector ul li h3 {
  margin: 0;
  font-size: 1em;
}
.engine_admin_inspector ul li label {
  display: inline-block;
  width: 40%;
}
.engine_admin_inspector ul li input {
  width: 50%;
  border: 1px solid #ccc;
  background: #999;
  font-size: .8em;
}
.engine_admin_inspector ul li input:focus {
  background: #eee;
}


.engine_thing {
  margin-left: .2em;
}
.engine_thing>span:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/engine/objecticons-small.png) 0px -60px;
  content: ' ';
  margin: -3px .4em -3px 0;
  vertical-align: baseline;
}
.engine_thing_mesh>span:before {
  background: url(/images/engine/objecticons-small.png) -21px -60px;
}
.engine_thing_geometry>span:before {
  background: url(/images/engine/objecticons-small.png) -21px -40px;
}
.engine_thing_spheregeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -63px -20px;
}
.engine_thing_planegeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -0px -20px;
}
.engine_thing_cubegeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -21px -20px;
}
.engine_thing_torusgeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -168px -20px;
}
.engine_thing_cylindergeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -147px -20px;
}
.engine_thing_textgeometry>span:before {
  background: url(/images/engine/objecticons-small.png) -168px -40px;
}
.engine_thing_material>span:before {
  background: url(/images/engine/objecticons-small.png) -126px -60px;
}
.engine_thing_material>span:before,
.engine_thing_meshbasicmaterial>span:before,
.engine_thing_meshlambertmaterial>span:before,
.engine_thing_meshphongmaterial>span:before,
.engine_thing_shadermaterial>span:before {
  background: url(/images/engine/objecticons-small.png) -168px 0px;
}
.engine_thing_pointlight>span:before {
  background: url(/images/engine/objecticons-small.png) -251px -20px;
}
.engine_thing_perspectivecamera>span:before,
.engine_thing_orthographiccamera>span:before,
.engine_thing_camera>span:before {
  background: url(/images/engine/objecticons-small.png) -126px -60px;
}
