.engine_admin {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 2em;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 66%, rgba(64,64,64,.5) 98%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.8) 66%, rgba(64,64,64,.5) 98%);
  z-index: 10;
}
.engine_admin_scenetree {
  position: fixed;
  top: 4em;
  left: 1em;
  width: 18em;
}
.engine_admin_scenetree ul {
}
.engine_admin_scenetree ul li {
  cursor: pointer;
}
.engine_admin_scenetree .engine_admin_scenetree_list {
  overflow: auto;
  overflow-x: hidden;
  height: 20em;
}
/*
.engine_admin_scenetree ul li:before {
  content: '├';
  display: inline-block;
  float: left;
  clear: left;
  padding-right: .5em;
  color: white;
}
.engine_admin_scenetree ul li.state_disabled:before,
.engine_admin_scenetree ul li.state_disabled,
.engine_admin_scenetree ul li.state_hover li.state_disabled,
.engine_admin_scenetree ul li.state_selected li.state_disabled {
  color: #666;
}
.engine_admin_scenetree ul li.state_hover,
.engine_admin_scenetree ul li.state_selected li.state_hover {
  color: yellow;
  background: rgba(1,1,0,.5);
}
.engine_admin_scenetree ul li.state_selected,
.engine_admin_scenetree ul li.state_hover li.state_selected {
  color: red;
}
.engine_admin_scenetree ul li.state_hover li,
.engine_admin_scenetree ul li.state_selected li {
  color: white;
  background: transparent;
}
.engine_admin_scenetree ul li:last-child:before {
  content: '└';
}
.engine_admin_scenetree>ul>li:first-child:before {
  content: '';
}
*/
.engine_admin_scenetree h2 {
  font-size: 1em;
  margin: 0;
}

.engine_admin_inspector {
/*
  position: fixed;
  top: 28em;
  left: 1em;
  width: 18em;
  color: white;
*/
}
.engine_admin_inspector>.ui_label {
  background: rgba(255,255,255,.1);
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  overflow: hidden;
  margin: 0 -.5em;
  padding: .25em .5em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.engine_admin_inspector ul {
  list-style: none;
  padding-left: .5em;
  margin: .5em 0;
}
.engine_admin_inspector .engine_admin_inspector_contents {
  overflow: auto;
  max-height: 15em;
  background: rgba(200,200,200,.2);
}
.engine_admin_inspector ul li {
  white-space: nowrap;
}
.engine_admin_inspector ul li h3 {
  margin: 0;
  font-size: 1em;
}
.engine_admin_inspector ul li label {
  display: inline-block;
  width: 40%;
}
.engine_admin_inspector ul li input {
  width: 50%;
  border: 1px solid #ccc;
  background: #999;
  font-size: .8em;
}
.engine_admin_inspector ul li input:focus {
  background: #eee;
}


.engine_thing {
  margin-left: .2em;
}
span.engine_thing_object:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/engine/objecticons-small.png) 0px -60px;
  content: ' ';
  margin: -3px .4em -3px 0;
  vertical-align: baseline;
}
span.engine_thing_object_Mesh:before {
  background: url(/images/engine/objecticons-small.png) -21px -60px;
}
span.engine_thing_object_Geometry:before {
  background: url(/images/engine/objecticons-small.png) -21px -40px;
}
span.engine_thing_object_SphereGeometry:before {
  background: url(/images/engine/objecticons-small.png) -63px -20px;
}
span.engine_thing_object_PlaneGeometry:before {
  background: url(/images/engine/objecticons-small.png) -0px -20px;
}
span.engine_thing_object_CubeGeometry:before {
  background: url(/images/engine/objecticons-small.png) -21px -20px;
}
span.engine_thing_object_TorusGeometry:before {
  background: url(/images/engine/objecticons-small.png) -168px -20px;
}
span.engine_thing_object_CylinderGeometry:before {
  background: url(/images/engine/objecticons-small.png) -147px -20px;
}
span.engine_thing_object_TextGeometry:before {
  background: url(/images/engine/objecticons-small.png) -168px -40px;
}
span.engine_thing_object_Material:before {
  background: url(/images/engine/objecticons-small.png) -126px -60px;
}
span.engine_thing_object_Material:before,
span.engine_thing_object_MeshBasicMaterial:before,
span.engine_thing_object_MeshLambertMaterial:before,
span.engine_thing_object_MeshPhongMaterial:before,
span.engine_thing_object_MeshFaceMaterial:before,
span.engine_thing_object_ShaderMaterial:before {
  background: url(/images/engine/objecticons-small.png) -168px 0px;
}
span.engine_thing_object_PointLight:before {
  background: url(/images/engine/objecticons-small.png) -251px -20px;
}
span.engine_thing_object_PerspectiveCamera:before,
span.engine_thing_object_OrthographicCamera:before,
span.engine_thing_object_Camera:before {
  background: url(/images/engine/objecticons-small.png) -126px -60px;
}
.engine_admin_scenetree_toolbar {
  position: absolute;
  top: -.1em;
  right: 0;
  font-size: .6em;
  margin: 0;
  padding: 0;
}
.engine_admin_scenetree_toolbar button {
  margin: 0;
  padding: 0 .2em;
}
.engine_admin_definething pre {
  margin: 0;
}
.engine_admin_definething .ui_accordion_title {
}
.engine_admin_definething input {
  display: block;
}
.engine_admin_definething textarea {
  width: 100%;
  min-height: 10em;
}
.engine_thing_function {
  color: #666;
}
.engine_thing_function.engine_thing_function_own {
  color: white;
}
.engine_admin_definething_inherited .ui_accordion_title {
  font-size: .8em;
}
.engine_admin_definething_inherited::before {
  content: 'Inherited';
  display: block;
  margin-top: .2em;
  padding: .2em;
  text-align: center;
}
.engine_admin_worldcontrol {
  max-width: 100%;
}
.engine_admin_worldcontrol .ui_buttonbar {
  display: inline-block;
}
.engine_admin_worldcontrol .ui_slider label {
  width: 8em;
}
.engine_admin_worldcontrol .ui_slider .ui_slider_track {
  width: 16em;
}
.engine_admin_assets_contents {
  background: rgba(200,200,200,.2);
  border: 1px solid #333;
  border-top: 0;
  max-height: 25em;
  width: 20em;
  overflow: auto;
}
.ui_grid.engine_admin_assets_materials .ui_list_item {
  width: 80px;
  height: 96px;
  text-align: center;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.ui_grid.engine_admin_assets_materials .ui_list_item:hover {
  background: rgba(128,255,128,.2);
}
.engine_admin_assets_materials .engine_admin_assets_material_preview {
  max-width: 72px;
  max-height: 72px;
  width: 100%;
}
.engine_admin_assets_materials div.engine_admin_assets_material_preview {
  height: 72px;
}
