.engine_materials_chunk {
  width: 100%;
  font-size: .8em;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.engine_material {
}
.engine_materials_uniforms {
  width: 25em;
  float: left;
}
.engine_materials_vertex {
  width: 35em;
  white-space: pre;
  overflow: auto;
  float: left;
}
.engine_materials_fragment {
  width: 35em;
  white-space: pre;
  overflow: auto;
  float: left;
}
.engine_materials_uniforms .engine_materials_chunk:hover,
.engine_materials_uniforms .engine_materials_chunk:active {
  background: rgba(255,0,0,.1);
}
.engine_materials_vertex .engine_materials_chunk:hover,
.engine_materials_vertex .engine_materials_chunk:active {
  background: rgba(0,255,0,.1);
}
.engine_materials_fragment .engine_materials_chunk:hover,
.engine_materials_fragment .engine_materials_chunk:active {
  background: rgba(0,0,255,.2);
}
.engine_materials_chunk h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #999;
  border: 0;
}
.engine_materials_chunk_uniform h4 {
  display: inline-block;
  width: 14em;
  font-size: 1em;
  margin: 0;
}
ul.engine_materials_chunk_uniform {
  list-style: none;
  padding: .5em;
  margin: 0;
  white-space: nowrap;
}
.engine_materials_vertex p,
.engine_materials_fragment p {
  padding: .5em;
  margin: 0;
  white-space: pre;
  text-space-collapse: preserve;
  font-family: monospace;
}
.engine_materials_vertex p:last-child,
.engine_materials_fragment p:last-child {
}

.engine_materials_shader_params {
  background: rgba(255,255,0,.05);
}
.engine_materials_shader_main {
  background: rgba(0,255,255,.05);
}

.engine_materials_shader_main:before {
  content: 'void main() {';
}
.engine_materials_shader_main .engine_materials_chunk {
  padding-left: 2em;
}
.engine_materials_shader_main:after {
  content: '}';
}

.engine_materials_uniforms input {
  border: 1px solid #ccc;
  font-size: .9em;
}
